#################################################
# IDEs, temp of linux/vim, etc.
#################################################
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store


#################################################
# C
#################################################
*.o
*.a
*.so
*.dylib
*.out

# Compile final executables into the build/ or bin/ folders
build/
bin/


#################################################
# Go
#################################################
*.exe
*.exe~
*.dll
*.test

*.prof
*.cov


#################################################
# Python
#################################################
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
.uv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/


#################################################
# Databases, Config and Secrets
#################################################
.env
.env.*
!.env.example

*.db
*.sqlite



















